.button {
    .ant-btn {
        margin-right: 8px;
        margin-bottom: 12px;
    }

    .ant-btn-group {
        margin-right: 8px;
        margin-bottom: 12px;
    }

    .ant-btn-group .ant-btn {
        margin: -1px;
    }
}
