.ant-btn {
    margin-right: 8px;
    margin-bottom: 12px;
}

#components-dropdown-demo-dropdown-button .ant-dropdown-button {
    margin: 0 8px 8px 0;
}

#components-dropdown-demo-dropdown-button .ant-dropdown-button .ant-btn {
    margin: -1px;
}
