.header {
    display: flex;
    justify-content: space-between;
    .right {
        display: flex;
        align-items: center;
        img {
            width: 3rem;
            height: 3rem;
            cursor: pointer;
            border-radius: 50%;
        }
    }
}