.app {
    display: flex;
    background-color: #f0f2f5;
    .app-aside {
        // position: fixed;
        height: 100vh;
        background-color: #001529;
        overflow-y: auto;
    }

    .app-body{
        flex: auto;
        // margin-left: 17rem;
        .app-header {
            height: 4.8rem;
            background-color: #fff;
            line-height: 4.8rem;
            padding: 0 2rem 0 1rem;
            border-bottom: 1px solid #e6e6e6;
        }
    }
    .content {
        margin: 1rem;
        box-sizing: border-box;
    }
    .app-footer {
        padding: 0 1rem;
        box-sizing: border-box;
        height: 3.8rem;
        text-align: center;
        line-height: 3.8rem;
    }

    // 基础样式
    .base-style {
        background-color: #fff;
        border-radius: 5px;
        padding: 1rem 2rem;
        box-shadow:0px 2px 13px 0px rgba(228,228,228,0.6);
        margin-bottom: 1rem;
        box-sizing: border-box;
    }

    .gutter-example .ant-row > div {
        background: transparent;
        border: 0;
    }

    // .margin-b {
    //     margin-bottom: .5rem;
    //     margin-right: .5rem;
    // }

    .button button {
        margin-bottom: 1rem;
        margin-right: .5rem;
    }
}