.app {
    .aside {
        position: fixed;
        left: 0;
        height: 100vh;
        overflow-y: auto;

        .logo {
            height: 3rem;
            margin: 1rem;
            box-sizing: border-box;
            border-radius: 1rem;
            background-color: #fff;
        }
    }

    .header {
        background-color: #fff;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        .right {
            display: flex;
            align-items: center;
        }
    }

    .content {
        padding: 10px 18px;
    }

    .footer {
        text-align: center;
    }
}